<div class="container">
  <div class="container">
    <div class="border border-top"></div>
  </div>
  <div class="container">
    <h1 class="">Data Binding</h1>
    <h2 class="text-secondary">One way Data Binding</h2>
    <code
      >&lt;input placeholder="{{ "{" }}{{ "{" }} data {{ "}" }}{{ "}" }}"
      /></code
    >
    <p class="lead">Propriedade carregada do componente 'Lesson':</p>
    <form action="" class="form-group">
      <label for="1way">Propriedade "Data"</label>
      <input
        name="1way"
        class="form-control"
        placeholder="{{ data }}"
        readonly
      />
    </form>
    <p class="lead">
      Dessa maneira o dado é carregado na view através da model
    </p>
    <br />
  </div>
</div>

<div class="container">
  <div class="container">
    <h2 class="text-secondary">Two way Data Binding</h2>
    <code
      >&lt;input [(ngModel)]="{{ "{" }}{{ "{" }} data {{ "}" }}{{ "}" }}"
      /></code
    >
    <form class="form-group">
      <label for="2way">Atualize a propriedade "Data"</label>
      <input
        class="form-control"
        name="2way"
        [(ngModel)]="data"
        placeholder="blabla"
      />
      <p class="lead">
        Dessa maneira o dado pode ser atualizado, afetando a declaração acima
      </p>
    </form>
  </div>
</div>

<br />

<div class="container">
  <div class="border border-top"></div>
</div>

<br />

<div class="container">
  <h1 class="">Event Binding</h1>
  <div class="container">
    <h2 class="text-secondary">Diretiva ngFor</h2>
    <code
      >&lt;div *ngFor="let something of somethings">some.thing&lt;/div&gt;</code
    >
    <h2 class="text-secondary">Event Handler</h2>
    <code
      >&lt;button type="button" (click)="handleEventMethod(some.thing)">{{ "{"
      }}{{ "{" }} some.thing {{ "}" }}{{ "}" }}&lt;/div&gt;</code
    >
    <div class="form-group">
      <ul class="list-group d-flex">
        <div class="" *ngFor="let student of students">
          <li class="list-group-item fw-light">Nome: {{ student.name }}</li>
          <button
            data-bs-toggle="modal"
            data-bs-target="#testModal"
            class="btn btn-light align-item-center"
            type="button"
            (click)="onSelect(student.age, student.name)"
          >
            Mostrar idade do {{ student.name }}!
          </button>
        </div>
      </ul>

      <app-test-component
        [studentAge]="selectedStudentAge"
        [studentName]="selectedStudentName"
      ></app-test-component>

      <p class="lead">
        - Usando *ngFor é possível iterar sobre dados no componente.
      </p>
      <p class="lead">
        - Usando evento para chamar o método da classe/componente
      </p>
    </div>
  </div>
</div>
